body {
    background-color: #d17474;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .melding {
    font-size: 2rem;
    color: #bb0000;
    padding: 20px 40px;
    background-color: #000000;
    border: 2px solid #40b41d;
    border-radius: 12px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }
  